<div id="login-wrapper" class="grid m-0 p-0">
    <div id="login"
      class="flex flex-column gap-3 sm:w-full md:w-5 md:mx-auto lg:py-5 lg:px-3 lg:w-4"
    >
      <div
        class="flex flex-column w-full justify-content-center align-items-center pt-4"
      >
        <div class="w-full px-3 justify-content-center flex align-items-center">
          <img
            src="../../../assets/images/bg/verify.svg"
            class="w-3"
            alt="Verify Logo"
          />
        </div>
    
        <h2 class="font-normal">Verification</h2>
      </div>

    
      <form
        class="flex flex-column mx-3 gap-4 surface-ground p-3 border-round border-1 border-black-alpha-10"
      >

        <div class="flex flex-column justify-content-center gap-1">
          <div class="flex flex-column gap-2">
            <label for="verificationCode">Verification Code</label>
            <input pInputText id="verificationCode" [ngClass]="{'ng-invalid ng-dirty shake-error':errorMessage}"/>
          </div>
        </div>
    
        <div
          [ngClass]="{ '!cursor-auto': isLoading }"
          class="w-full cursor-pointer flex justify-content-center"
        >
          <button
            pButton
            pRipple
            *ngIf="!isLoading"
            class="w-full py-2 px-4 text-white rounded-sm p-button-primary"
            label="Verify"
            type="submit"
          ></button>
          <p-progressSpinner styleClass="w-2rem h-2rem"
            *ngIf="isLoading"
          ></p-progressSpinner>
        </div>

        <div class="text-center">
            <p>Didn't receive an email? <span><a class="cursor-pointer">Resend</a></span></p>
        </div>
      </form>
    
      <div class="w-full mt-6">
        <app-form-links></app-form-links>
      </div>
    </div>

  </div>
  