<div class="card">
  <div class="flex flex-column gap-3 w-full md:w-6 md:flex-row">
    <div class="w-full">
      <h5 class="text-color-secondary font-semibold text-sm">PREVIEW</h5>
      <div class="relative w-full shadow-1 border-round surface-ground">
        <div class="w-full h-6rem lg:h-8rem xl:h-10rem">
          <img
            [src]="userService.getUser()?.banner"
            alt="banner"
            class="w-full h-full border-round-top"
            style="
              aspect-ratio: 16/9;
              object-fit: cover;
              object-position: center;
            "
          />
        </div>
        <div
          class="w-5rem h-5rem border-circle absolute surface-ground flex justify-content-center align-items-center lg:w-7rem lg:h-7rem"
          style="
            left: 1rem;
            transform: translateY( -50%);
            padding: 0.0125rem;
          "
        >
          <div class="w-11 flex justify-content-center align-items-center">
            <img
              [src]="userService.getUser()?.avatar"
              alt="avatar"
              class="w-full h-full border-circle"
              style="
                aspect-ratio: 1/1;
                object-fit: cover;
                object-position: center;
              "
            />
          </div>
        </div>
        <div class="surface-ground w-full mt-5 p-3 lg:mt-6">
          <div class="w-full bg-primary-reverse p-3 border-round">
            <h5 class="text-color font-semibold text-lg mb-2">
              {{ userService.getUser()?.username }}
            </h5>
            <p
              class="text-color-secondary font-normal text-sm mb-2 overflow-ellipsis"
              style="max-width: 170px"
            >
              {{ userService.getUser()?.email }}
            </p>
            <p-divider></p-divider>
            <h5 class="text-color font-semibold text-sm">ABOUT ME</h5>
            <p class="text-color-secondary font-light text-sm mb-2">
              {{ userService.getUser()?.description }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
