<div class="card">
  <h3>My Account</h3>
  <div class="flex flex-column w-full md:gap-5 md:flex-row-reverse">
    <div class="w-full">
      <h5 class="text-color-secondary font-semibold text-sm">PREVIEW</h5>
      <div class="relative w-full shadow-3 border-round surface-ground">
        <div class="w-full h-6rem lg:h-8rem xl:h-10rem">
          <img
            [src]="userService.getUser()?.banner"
            alt="banner"
            class="w-full h-full border-round-top"
            style="
              aspect-ratio: 16/9;
              object-fit: cover;
              object-position: center;
            "
          />
        </div>
        <div
          class="w-5rem h-5rem border-circle absolute surface-ground flex justify-content-center align-items-center lg:w-7rem lg:h-7rem"
          style="left: 1rem; transform: translateY(-50%); padding: 0.0125rem"
        >
          <div class="w-11 flex justify-content-center align-items-center">
            <img
              [src]="userService.getUser()?.avatar"
              alt="avatar"
              class="w-full h-full border-circle"
              style="
                aspect-ratio: 1/1;
                object-fit: cover;
                object-position: center;
              "
            />
          </div>
        </div>
        <div class="surface-ground border-round-bottom w-full mt-5 p-3 lg:mt-6">
          <div class="w-full bg-primary-reverse p-3 border-round">
            <h5 class="text-color font-semibold text-lg mb-2">
              {{ informationForm.get('username')?.value}}
            </h5>
            <p
              class="text-color-secondary font-normal text-sm mb-2 overflow-ellipsis"
              style="max-width: 170px"
            >
              {{ userService.getUser()?.email }}
            </p>
            <p-divider></p-divider>
            <h5 class="text-color font-semibold text-sm">ABOUT ME</h5>
            <p class="text-color-secondary font-light text-sm mb-2">
              {{ informationForm.get('description')?.value}}
            </p>
          </div>
        </div>
      </div>
    </div>
    <p-divider class="md:hidden"></p-divider>
    <div class="w-full">
      <div class="flex flex-column">
        <label
          for="username"
          class="text-color-secondary font-semibold text-sm mb-3"
          >EMAIL</label
        >
        <input class="surface-200" pInputText id="username" [disabled]="true" [value]="userService.getUser()?.email" />
      </div>

      <p-divider></p-divider>
      <form [formGroup]="informationForm">
        <div class="flex flex-column">
          <label
            for="username"
            class="text-color-secondary font-semibold text-sm mb-3"
            >DISPLAY NAME</label
          >
          <input pInputText id="username" formControlName="username"/>
        </div>

        <p-divider></p-divider>

        <div class="flex flex-column">
          <label
            for="description"
            class="text-color-secondary font-semibold text-sm mb-3"
            >ABOUT ME</label
          >
          <span class="text-sm mb-3"
            >Just tell us a little bit about yourself.</span
          >
          <textarea [autoResize]="true" pInputTextarea id="description" formControlName="description"></textarea>
        </div>

        <p-divider></p-divider>

        <div class="flex flex-column">
          <label
            for="description"
            class="text-color-secondary font-semibold text-sm mb-3"
            >AVATAR</label
          >

          <div class="flex flex-column gap-3 md:flex-row md:gap-6 md:align-items-center">
            <button pButton class="w-8 py-2 px-3 md:w-5 lg:w-4" label="Change avatar" type="button"></button>
            <a class="cursor-pointer text-color-secondary hover:underline"
              >Remove avatar</a
            >
          </div>
        </div>
        <p-divider></p-divider>
        <div class="flex flex-column">
          <label
            for="description"
            class="text-color-secondary font-semibold text-sm mb-3"
            >BANNER</label
          >

          <div class="flex flex-column gap-3 md:flex-row md:gap-6 md:align-items-center">
            <button pButton class="w-8 py-2 px-3 md:w-5 lg:w-4" label="Change banner" type="button"></button>
            <a class="cursor-pointer text-color-secondary hover:underline"
              >Remove banner</a
            >
          </div>
        </div>
        <p-divider></p-divider>

        <div class="flex flex-column">
          <label
            for="description"
            class="text-color-secondary font-semibold text-sm mb-3"
            >Password</label
          >

            <button pButton (click)="showChangePasswordDialog()" class="py-2 px-3 w-8 md:w-6 lg:w-4" label="Change password" type="button"></button>
            
        </div>
      </form>
    </div>
  </div>

  <p-divider></p-divider>

  <h3>Notifications</h3>

  <div class="flex flex-row justify-content-start gap-3 align-items-center w-full xl:w-6">
    <div class="flex-flex-column gap-3">
      <label
      for="description"
      class="text-color-secondary font-semibold text-sm mb-3"
      >RECEIVE EMAIL</label
    >
    <span class="text-sm my-3 block"
      >Your account will receive emails about updates and notifications from the system by default. You can turn off this feature if you prefer not to receive notifications.</span
    >
    <span class="text-sm my-3 block"
      >e.g. Your reservation has started</span
    >
    </div>

    
    <p-inputSwitch [formControl]="checked"></p-inputSwitch>
  </div>
 


</div>
<p-dialog header="Update your password" [modal]="true" [draggable]="false" [(visible)]="visible" [breakpoints]="{'375px':'90vw'}" [style]="{width: '25vw'}">

  <form [formGroup]="changePasswordForm" class="flex flex-column gap-3">
    <div class="flex flex-column justify-content-center gap-1">
      <div class="flex flex-column gap-2">
        <div class="">
            <label for="currentPassword" class="text-sm font-semibold text-color-secondary">CURRENT PASSWORD</label>
        </div>
        <input
          pInputText
          id="currentPassword"
          type="password"
        />
      </div>
    </div>
    <div class="flex flex-column justify-content-center gap-1">
      <div class="flex flex-column gap-2">
        <div class="">
            <label for="newPassword" class="text-sm font-semibold text-color-secondary">NEW PASSWORD</label>
        </div>
        <input
          pInputText
          id="newPassword"
          type="password"
        />
      </div>
    </div>
    <div class="flex flex-column justify-content-center gap-1">
      <div class="flex flex-column gap-2">
        <div class="">
            <label for="confirmPassword" class="text-sm font-semibold text-color-secondary">CONFIRM PASSWORD</label>
        </div>
        <input
          pInputText
          id="confirmPassword"
          type="password"
        />
      </div>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <p-button (click)="visible = false" label="Done" pAutoFocus [autofocus]="true"></p-button>
</ng-template>
 
</p-dialog>