<div
  class="layout-wrapper relative"
  [ngClass]="containerClass"
  *ngIf="!isLoading"
>
  <app-topbar></app-topbar>
  <div class="layout-sidebar">
    <app-sidebar></app-sidebar>
  </div>
  <div class="layout-main-container">
    <div class="layout-main">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </div>
  <app-config></app-config>
  <div class="layout-mask"></div>
</div>

<div
  class="card absolute md:max-w-30rem"
  style="
    display: flex;
    inset: 0;
    margin: auto;
    flex-direction: column;
    max-height: 120px;
    justify-content: center;
    max-width: 230px;
  "
  *ngIf="isLoading"
>
  <h3>Hang on...</h3>
  <p-progressBar
    mode="indeterminate"
    [style]="{ height: '6px' }"
  ></p-progressBar>
</div>

<p-messages
  *ngIf="messages"
  [(value)]="messages"
  [enableService]="false"
  [closable]="true"
  class="fixed z-2"
></p-messages>

<p-dialog
  [draggable]="false"
  [(visible)]="justFinished"
  [modal]="true"
  [breakpoints]="{ '375px': '90vw' }"
  [style]="{ width: '30vw' }"
>
  <ng-template pTemplate="header">
    <div class="w-full flex justify-content-start align-items-center gap-3">
      <img class="w-1" src="../../assets/images/desksync_logo.png" alt="" />
      <span class="text-xl" id="logo-text">DeskSync | Feedback</span>
    </div>
  </ng-template>
  <form
    [formGroup]="ratingForm"
    class="flex gap-3 flex-row align-items-center justify-content-start mb-3"
  >
    <p class="text-color-secondary m-0">How would you rate your experience?</p>
    <p-rating formControlName="rating"></p-rating>
  </form>
  <p class="text-color-secondary">
    We'd appreciate if you leave us a comment. You can send us a feedback so we
    can understand more 🙌
  </p>
  <form class="flex flex-column gap-1" [formGroup]="feedbackForm">
    <textarea
      placeholder="What's on your mind?"
      class="w-full"
      rows="10"
      cols="30"
      id="feedback"
      pInputTextarea
      formControlName="feedback"
    ></textarea>
    <small style="align-self: end"
      >{{ feedbackForm.get("feedback")?.value.length }}/100</small
    >
  </form>

  <ng-template pTemplate="footer">
    <div
      class="flex flex-column justify-content-center align-items-start gap-3 w-full"
    >
      <!-- <p-fileUpload class="w-full" name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php" (onUpload)="onUpload($event)" [multiple]="true" accept="image/*" [maxFileSize]="1000000">
      <ng-template pTemplate="content">
          <ul *ngIf="uploadedFiles.length">
              <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
          </ul>
      </ng-template>
  </p-fileUpload> -->
      <p-button
        class="w-full"
        label="Submit"
        pAutoFocus
        [autofocus]="true"
      ></p-button>
    </div>
  </ng-template>
</p-dialog>
