<div class="flex flex-column gap-3">
  <h3 class="text-base m-0 text-xl">Your booking information</h3>
  <div
    class="flex surface-ground flex-column w-full surface-border border-round border-1 p-3 gap-3 md:w-30rem md:mx-auto"
  >
    <div
      class="w-full flex justify-content-between align-items-center pb-3 border-bottom-1 surface-border"
    >
      <h5 class="text-color-secondary text-base m-0">Hotdesk 1</h5>
      <i class="pi pi-book"></i>
    </div>
    <div class="max-h-10rem h-10rem mx-auto">
      <img
        class="w-full shadow-4"
        style="object-fit: contain; max-height: 100%"
        [src]="'../../assets/images/map/individual/1.png'"
        alt="Hotdesk"
      />
    </div>

    <div class="w-full flex flex-column gap-3">
      <div style="border: 1px solid #424b57"
        class="flex w-full gap-2 align-items-center justify-content-start surface-border border-round p-3"
      >
        <i class="pi pi-calendar" style="color: var(--primary-color)"></i>
        <p class="text-primary font-bold">
          Date: March 25, 2024
        </p>
      </div>
      <div style="border: 1px solid #424b57"
        class="flex w-full gap-2 align-items-center justify-content-start surface-border border-round p-3"
      >
        <i class="pi pi-info-circle" style="color: var(--primary-color)"></i>
        <p class="text-primary font-bold">
          Area: 1
        </p>
      </div>
      <p-accordion [activeIndex]="0">
        <p-accordionTab header="Workspace Essentials" pStyleClass="text-color-secondary">
          <div class="flex w-full gap-1 flex-column lg:flex-row">
            <p-chip styleClass="text-xs" label="Cubicle Mirror"></p-chip>
            <p-chip styleClass="text-xs" label="Cubicle Mirror"></p-chip>
            <p-chip styleClass="text-xs" label="Cubicle Mirror"></p-chip>
          </div>
        </p-accordionTab>
      </p-accordion>
    </div>

    <div
      class="w-full flex justify-content-between align-items-center md:hidden"
    >
      <p-button
        styleClass="w-full py-2 px-3 p-button-danger"
        label="Void"
        icon="pi pi-times-circle"
      ></p-button>
      <p-button
        styleClass="w-full py-2 px-3 p-button-success"
        label="Reserve"
        icon="pi pi-calendar-plus"
      ></p-button>
    </div>
  </div>
  <p-divider></p-divider>

  <div class="hidden w-full justify-content-between align-items-center md:flex">
    <div class="w-full flex gap-3">
      <p-button
        styleClass="w-full py-2 px-3 p-button-info"
        label="Back"
        icon="pi pi-arrow-circle-left"
      ></p-button>
      <p-button
        styleClass="w-full py-2 px-3 p-button-danger"
        label="Void"
        icon="pi pi-times-circle"
      ></p-button>
    </div>
    <p-button
      styleClass="w-full py-2 px-3 p-button-success"
      label="Reserve"
      icon="pi pi-calendar-plus"
    ></p-button>
  </div>

  <div class="flex w-full justify-content-between align-items-center md:hidden">
    <p-button
      styleClass="w-full py-2 px-3 p-button-info"
      label="Back"
      icon="pi pi-arrow-circle-left"
    ></p-button>
  </div>
</div>
