<div class="w-full shadow-1 flex justify-content-between align-items-center px-3 py-1 border-round-md surface-ground mb-2">
    <div class="flex gap-3">
      <p-avatar image="{{user.avatar}}"
      size="large" shape="circle"></p-avatar>
      <div class="flex flex-column gap-1">
        <p class="m-0 overflow-ellipsis"  style="max-width: 175px;">{{user.username}}</p>
        <p class="text-xs text-color-secondary overflow-ellipsis" style="max-width: 175px;">{{user.email}}</p>
      </div>
    </div>

    <div style="width: 10px; height: 10px;" class="border-circle bg-green-500"></div>
  </div>